server:
  env:
  host:
  port:
  service_name:
  tls:
    enable:
    cert_file:
    key_file:

database:
  host:
  port:
  user:
  db_name:
  ssl_mode:
  max_open_conns:
  max_idle_conns:
  conn_max_lifetime:

redis:
  host:
  port:
  db:

jwt_auth:
  secret_key:
  access_token_exp:
  refresh_token_exp:
  remember_me_token_exp:

rate_limit:
  enable:
  limit:
  period:

cors:
  enable:
  allowed_origins:
  allowed_methods:
  allow_credentials:

oauth2:
  google:
    client_id:
    client_secret:
